/*--------------------------------------------------------------
# navbar
--------------------------------------------------------------*/

.navbar-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
	transition: all 0.3s ease-out 0s;
	background-color: transparent;
  @media only screen and (max-width: 991px) {
   background-color: #000;
  }
}

.navbar {
	padding: 0;
	position: relative;
	transition: all 0.3s ease-out 0s;
	padding: 8px 0;
	@media (max-width: 991px) {
		padding: 8px 0;
	}

	@media (max-width: 767px) {
		padding: 8px 0;
	}

	.navbar-brand {

		text-decoration: none;
		font-size: 22px;
		color: $primary-color;
		font-weight: 600;
		padding: 0;
		img {
			height: 70px;
			transition: all 0.4s ease-in-out;
			@media only screen and (max-width: 1299px) {
				height: 55px;
			}
			@media only screen and (max-width: 991px) {
				height: 40px;
			}
			@media only screen and (max-width: 767px) {
				height: 30px;
			}
		}
		text-decoration: none;
    @media only screen and (max-width: 767px) {
     font-size: 18px;
    }
	}

	.navbar-nav {
		.nav-item {
			position: relative;
			margin-left: 23px;
			&:first-child {
				margin-left: 0;
			}
			@media only screen and (max-width: 991px) {
				margin-left: 0;
			}
			a {
				text-decoration: none;
				font-size: 14px;
				font-weight: 500;

				color: $title-color;
				transition: all 0.3s ease-out 0s;
				padding: 10px 0;
				position: relative;
				&:hover,
				&.active {
					color: $primary-color;
				}

				@media only screen and (min-width: 768px) and (max-width: 991px) {
					display: inline-block;
				}
				@media only screen and (max-width: 991px) {
					padding: 2px 0;
					margin: 6px 0px;
          color: #fff;
				}
				@media only screen and (max-width: 767px) {
					display: inline-block;
				}
			}
		}
	}

	.navbar-collapse {
		@media only screen and (min-width: 768px) and (max-width: 991px) {
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			z-index: 9;
			background-color: #000;
			box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.1);
		}
		@media only screen and (max-width: 991px) {
			padding: 8px 20px 18px 20px;
		}

		@media only screen and (max-width: 767px) {
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			z-index: 9;
			background-color: #000;
			box-shadow: 0 15px 20px 0 rgba(43, 56, 109, 0.1);
		}
	}

	.navbar-toggler {
		padding: 0;

		&:focus {
			outline: none;
			-webkit-box-shadow: none;
			box-shadow: none;
		}

		.toggler-icon {
			width: 30px;
			height: 2px;
			background-color: #fff;
			display: block;
			margin: 5px 0;
			position: relative;
			-webkit-transition: all 0.3s ease-out 0s;
			-o-transition: all 0.3s ease-out 0s;
			transition: all 0.3s ease-out 0s;
		}

		&.active .toggler-icon {
			&:nth-of-type(1) {
				-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
				top: 7px;
			}

			&:nth-of-type(2) {
				opacity: 0;
			}

			&:nth-of-type(3) {
				-webkit-transform: rotate(135deg);
				-ms-transform: rotate(135deg);
				transform: rotate(135deg);
				top: -7px;
			}
		}
	}
}

/** Medium devices (tablets, 768px and up) **/

.sticky {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	transition: all 0.3s ease-out 0s;
	background-color: #000;
	box-shadow: 0 0.16rem 0.2rem 0 rgba(36, 39, 46, 0.05);
	.navbar {
		padding: 8px 0;
		@media (max-width: 991px) {
			padding: 8px 0;
		}

		@media (max-width: 767px) {
			padding: 8px 0;
		}
		.nav-item {
			a {
				color: #fff;
			}
		}
		.navbar-brand {
			padding: 0;
			color: $primary-color;
			img {
				height: 55px;
				transition: all 0.4s ease-in-out;
				@media only screen and (max-width: 1299px) {
					height: 55px;
				}
				@media only screen and (max-width: 991px) {
					height: 45px;
				}
				@media only screen and (max-width: 767px) {
					height: 45px;
				}
			}
			text-decoration: none;
		}

		.navbar-toggler .toggler-icon {
			background-color: #fff;
		}
	}
}

.social {
	@media only screen and (min-width: 992px) {
		align-items: center;
	}
	@media only screen and (max-width: 991px) {
		padding-top: 6px;
	}
	li {
		padding: 0;
		margin-left: 24px;
		@media only screen and (max-width: 991px) {
			margin-left: 0px;
		}

		.btn-hero {
			background-color: #37fc7f;
			box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25),
				inset 0px 3px 9px rgba(255, 255, 255, 0.3),
				inset 0px 1px 1px rgba(255, 255, 255, 0.6),
				inset 0px -8px 36px rgba(0, 0, 0, 0.3),
				inset 0px 1px 5px rgba(255, 255, 255, 0.6),
				2px 19px 31px rgba(0, 0, 0, 0.2);
			border: 0;
			display: inline-flex;
			text-decoration: none;
			color: #111;
			padding: 10px 15px;
			font-size: 13px;
			font-weight: 600;
			border-radius: 6px;
			&:hover {
				background-color: #00e755;
				color: #111;
			}
		}
	}
}

.nav-center {
	/** Large devices (desktops, 992px and up) **/
	@media (min-width: 992px) {
		position: absolute;
		left: 50%;
		transform: translate(-50%);
	}
}
